<style>
  .tool_visible {
    background-color:rgba(0, 0, 0, 0.4);
    /* background: #fff; */
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 0px;
    transition: all .5s;
  }

  .tool_invisible {
    background-color:rgba(23, 162, 184, 0.6);
    position: absolute;
    width: 100%;
    z-index: 1;
    top: -420px;
    transition: all .5s;
    color: white;
  }

  .quicklink_box {
    position: relative;
    min-width: 110px;
    height: 110px;
    width: 110px;
    z-index:2;
  }

  .quicklink {
    width: 110px;
    height: 110px;
    z-index:2;
  }

  a.quicklink_link>img.quicklink_hover {
    display: none;
    width: 110px;
    height: 110px;
    z-index:2;
}
/* try fixed, but no hover */
/* img.quicklink_hover {
  display: none;
    width: 110px;
    height: 110px;
    z-index:2;
} */

  a.quicklink_link:hover>img.quicklink_hover {
    position: absolute;
    display: block;
    top: 0;
    /* left: 0; */
    /* margin-left: 2px; */
    width: 110px;
    height: 110px;
    z-index:2;
  }
  /* .quicklink_title {
    position: absolute;
    bottom: 15px;
    width: 70px;
} */

  a.quicklink_link:hover>.quicklink_title {
    background-color: rgba(118, 22, 20, 0.8);
    color: white;
    padding-left: 0.1em;
    padding-right: 0.1em;
    border-radius: 10px;
    z-index:2;
  }

  /* @media (min-width:568px) {
    #categories {
      max-width: 400px;
      margin: auto auto;
    }
  } */
  @media only screen and (min-width:992px),only screen and (min-width:992px)  {
    #categories {
      /* background-color:transparent!important; */
      max-width: 500px;
      margin: auto auto;
    }
  }
  .blur {
    content: '';
    top: 0; right: 0; bottom: 0; left: 0;
    margin: -30px;
    z-index: 1;
    /* -webkit-filter: blur(20px); */
    /* filter: blur(20px); */
    height:1000px;
    background-color:rgba(255,255,255,0.5);
    position:fixed;
    top:0px;
  }
  /* body>div>blur:before {
    -webkit-filter: blur(20px);
    filter: blur(20px);
    color:red!important;
  } */
</style>
<div class="container-fluid blur" id="blur">
</div>
<div class="container-fluid tool_visible" id="test">
  <div class="row mt-5 pt-4">
    <div class="col-lg-3 col-sm-2 col-md-2"></div>
    <div class="col-lg-6 col-sm-8 col-md-8 col-md-offset-4" id="categories" style="width:500px;">
      <div class="col-12 d-flex justify-content-around mb-4 cancelPaddingLR" >
        <div class="quicklink_box d-flex justify-content-center">
          <a class="quicklink_link" href="#" onclick="selectItemByValue(document.getElementById('fication'), 1);app.fication = 1;app.formData.fication.value=1;">
          <img class="quicklink" src="../img/icon/icon-01.png" />
          <img class="quicklink_hover" src="../img/icon/icon_hover-01.png" />
          </a>
        </div>
        <div class="quicklink_box d-flex justify-content-center">
          <a class="quicklink_link" href="#" onclick="selectItemByValue(document.getElementById('fication'), 2);app.fication = 2;app.formData.fication.value=2;">
          <img class="quicklink" src="../img/icon/icon-02.png" />
          <img class="quicklink_hover" src="../img/icon/icon_hover-02.png" />
          </a>
        </div>
        <div class="quicklink_box d-flex justify-content-center">
          <a class="quicklink_link" href="#" onclick="selectItemByValue(document.getElementById('fication'), 3);app.fication = 3;app.formData.fication.value=3;">
          <img class="quicklink" src="../img/icon/icon-03.png" />
          <img class="quicklink_hover" src="../img/icon/icon_hover-03.png" />
          </a>
        </div>
      </div>
      <div class="col-12 d-flex justify-content-around mb-4 cancelPaddingLR" >
        <div class="quicklink_box d-flex justify-content-center">
          <a class="quicklink_link" href="#" onclick="selectItemByValue(document.getElementById('fication'), 4);app.fication = 4;app.formData.fication.value=4;">
          <img class="quicklink" src="../img/icon/icon-04.png" />
          <img class="quicklink_hover" src="../img/icon/icon_hover-04.png" />
          </a>
        </div>
        <div class="quicklink_box d-flex justify-content-center">
          <a class="quicklink_link" href="#" onclick="selectItemByValue(document.getElementById('fication'), 5);app.fication = 5;app.formData.fication.value=5;">
          <img class="quicklink" src="../img/icon/icon-05.png" />
          <img class="quicklink_hover" src="../img/icon/icon_hover-05.png" />
          </a>
        </div>
        <div class="quicklink_box d-flex justify-content-center">
          <a class="quicklink_link" href="#" onclick="selectItemByValue(document.getElementById('fication'), 6);app.fication = 6;app.formData.fication.value=6;">
          <img class="quicklink" src="../img/icon/icon-06.png" />
          <img class="quicklink_hover" src="../img/icon/icon_hover-06.png" />
          </a>
        </div>
      </div>
      <div class="col-12 d-flex justify-content-around mb-4 cancelPaddingLR" >
        <div class="quicklink_box d-flex justify-content-center">
          <a class="quicklink_link" href="#" onclick="selectItemByValue(document.getElementById('fication'), 7);app.fication = 7;app.formData.fication.value=7;">
          <img class="quicklink" src="../img/icon/icon-07.png" />
          <img class="quicklink_hover" src="../img/icon/icon_hover-07.png" />
          </a>
        </div>
        <div class="quicklink_box d-flex justify-content-center">
          <a class="quicklink_link" href="#" onclick="selectItemByValue(document.getElementById('fication'), 8);app.fication = 8;app.formData.fication.value=8;">
          <img class="quicklink" src="../img/icon/icon-08.png" />
          <img class="quicklink_hover" src="../img/icon/icon_hover-08.png" />
          </a>
        </div>
        <div class="quicklink_box d-flex justify-content-center">
          <a class="quicklink_link" href="#" onclick="selectItemByValue(document.getElementById('fication'), 9);app.fication = 9;app.formData.fication.value=9;">
          <img class="quicklink" src="../img/icon/icon-09.png" />
          <img class="quicklink_hover" src="../img/icon/icon_hover-09.png" />
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-2 col-md-2"></div>
  </div>
    <!-- toogle -->
    <div class="mt-2 row">
      <div class="text-center col-12" id="try">
        <div id="btn-toggleSetting">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    // console.log("test");
    $('#try').on("click", '#btn-toggleSetting', function () {
      $("body").find("#test").removeClass("tool_visible");
      $("body").find("#blur").removeClass("blur");
      $("body").find("#test").addClass("tool_invisible");
      $("body").find("#btn-toggleSetting").remove();
      $("body").find("#try").append(
        '<div id="btn-toggleSetting_open"><i class="fa fa-bars" aria-hidden="true"></i></div>');
    });
    $('#try').on("click", '#btn-toggleSetting_open', function () {
      $("body").find("#test").removeClass("tool_invisible");
      $("body").find("#blur").addClass("blur");
      $("body").find("#test").addClass("tool_visible");
      $("body").find("#btn-toggleSetting_open").remove();
      $("body").find("#try").append(
        '<div id="btn-toggleSetting"><i class="fa fa-bars" aria-hidden="true"></i></div>');
    });
    $('.quicklink_link').click(function(){
      $("body").find("#test").removeClass("tool_visible");
      $("body").find("#blur").removeClass("blur");
      $("body").find("#test").addClass("tool_invisible");
      $("body").find("#btn-toggleSetting").remove();
      $("body").find("#try").append(
        '<div id="btn-toggleSetting_open"><i class="fa fa-bars" aria-hidden="true"></i></div>');
    })
  });

  // $('#test').css('top', `-${document.getElementById('ExchangeSetting').offsetHeight + 32}px`);
  // containerStyle.top = `-${document.getElementById('ExchangeSetting').offsetHeight + 32}px`);

  function selectItemByValue(elmnt, value){
    for(var i=0; i < elmnt.options.length; i++)
    {
      if(elmnt.options[i].value == value)
        elmnt.selectedIndex = i;
    }
  }
</script>
