<style>
  .tool_visible {
    background: #fff;
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 0px;
    transition: all .5s;
  }

  .tool_invisible {
    background: #fff;
    position: absolute;
    width: 100%;
    z-index: 1;
    top: -402px;
    transition: all .5s;
  }

  .quicklink_box {
    position: relative;
    min-width: 110px;
    height: 110px;
    width: 110px;
  }

  .quicklink {
    width: 110px;
    height: 110px;
  }

  a.quicklink_link>img.quicklink_hover {
    display: none;
    width: 110px;
    height: 110px;
<<<<<<< HEAD
  }
  /* try fixed, but no hover */

  img.quicklink_hover {
    display: none;
    width: 110px;
    height: 110px;
  }
=======
}
/* try fixed, but no hover */
img.quicklink_hover {
  display: none;
    width: 110px;
    height: 110px;
}
>>>>>>> cd169225615ccb9475fff7a0ed1512b4efb76a1e

  a.quicklink_link:hover>img.quicklink_hover {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    margin-left: 2px;
    width: 110px;
    height: 110px;
  }
  /* .quicklink_title {
    position: absolute;
    bottom: 15px;
    width: 70px;
} */

  a.quicklink_link:hover>.quicklink_title {
    background-color: rgba(118, 22, 20, 0.8);
    color: white;
    padding-left: 0.1em;
    padding-right: 0.1em;
    border-radius: 10px;
  }

  @media (min-width:992px) {
    #categories {
      max-width: 500px
    }
  }
</style>

<div class="pt-3 container tool_visible" id="test">
  <div class="row mt-5"id="categories">
      <div class="col-12 d-flex justify-content-around mb-4 cancelPaddingLR" >
        <div class="quicklink_box d-flex justify-content-center">
          <a class="quicklink_link" href="#"></a>
          <img class="quicklink" src="../img/icon/icon-01.png" />
          <img class="quicklink_hover" src="../img/icon/icon_hover-01.png" />
          </a>
        </div>
        <div class="quicklink_box d-flex justify-content-center">
          <a class="quicklink_link" href="#"></a>
          <img class="quicklink" src="../img/icon/icon-02.png" />
          <img class="quicklink_hover" src="../img/icon/icon_hover-02.png" />
          </a>
        </div>
        <div class="quicklink_box d-flex justify-content-center">
          <a class="quicklink_link" href="#"></a>
          <img class="quicklink" src="../img/icon/icon-03.png" />
          <img class="quicklink_hover" src="../img/icon/icon_hover-03.png" />
          </a>
        </div>
      </div>
      <div class="col-12 d-flex justify-content-around mb-4 cancelPaddingLR" >
        <div class="quicklink_box d-flex justify-content-center">
          <a class="quicklink_link" href="#"></a>
          <img class="quicklink" src="../img/icon/icon-04.png" />
          <img class="quicklink_hover" src="../img/icon/icon_hover-04.png" />
          </a>
        </div>
        <div class="quicklink_box d-flex justify-content-center">
          <a class="quicklink_link" href="#"></a>
          <img class="quicklink" src="../img/icon/icon-05.png" />
          <img class="quicklink_hover" src="../img/icon/icon_hover-05.png" />
          </a>
        </div>
        <div class="quicklink_box d-flex justify-content-center">
          <a class="quicklink_link" href="#"></a>
          <img class="quicklink" src="../img/icon/icon-06.png" />
          <img class="quicklink_hover" src="../img/icon/icon_hover-06.png" />
          </a>
        </div>
      </div>
      <div class="col-12 d-flex justify-content-around mb-4 cancelPaddingLR" >
        <div class="quicklink_box d-flex justify-content-center">
          <a class="quicklink_link" href="#"></a>
          <img class="quicklink" src="../img/icon/icon-07.png" />
          <img class="quicklink_hover" src="../img/icon/icon_hover-07.png" />
          </a>
        </div>
        <div class="quicklink_box d-flex justify-content-center">
          <a class="quicklink_link" href="#"></a>
          <img class="quicklink" src="../img/icon/icon-08.png" />
          <img class="quicklink_hover" src="../img/icon/icon_hover-08.png" />
          </a>
        </div>
        <div class="quicklink_box d-flex justify-content-center">
          <a class="quicklink_link" href="#"></a>
          <img class="quicklink" src="../img/icon/icon-09.png" />
          <img class="quicklink_hover" src="../img/icon/icon_hover-09.png" />
          </a>
        </div>
      </div>
  </div>
    <!-- toogle -->
    <div class="mt-2 row">
      <div class="text-center col-12" id="try">
        <div id="btn-toggleSetting">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    // console.log("test");
    $('#try').on("click", '#btn-toggleSetting', function () {
      $("body").find("#test").removeClass("tool_visible");
      $("body").find("#test").addClass("tool_invisible");
      $("body").find("#btn-toggleSetting").remove();
      $("body").find("#try").append(
        '<div id="btn-toggleSetting_open"><i class="fa fa-bars" aria-hidden="true"></i></div>');
    });
    $('#try').on("click", '#btn-toggleSetting_open', function () {
      $("body").find("#test").removeClass("tool_invisible");
      $("body").find("#test").addClass("tool_visible");
      $("body").find("#btn-toggleSetting_open").remove();
      $("body").find("#try").append(
        '<div id="btn-toggleSetting"><i class="fa fa-bars" aria-hidden="true"></i></div>');
    });
  });

  // $('#test').css('top', `-${document.getElementById('ExchangeSetting').offsetHeight + 32}px`);
  // containerStyle.top = `-${document.getElementById('ExchangeSetting').offsetHeight + 32}px`);
</script>