<div class="container-fluid" id="blur">
</div>
<div data-role="page" class="container tool tool_invisible" id="categories_main"  style="border-bottom-left-radius: 25px;border-bottom-right-radius:25px;">
  <!-- 第一條row: 九封格 -->
  <div class="row mt-5 pt-4">
    <div class="col-lg-3 col-sm-0 col-md-1"></div>
    <div class="col-lg-6 col-sm-12 col-md-10 col-md-offset-4" id="categories" >
      <div class="col-12 d-flex justify-content-around mb-4 cancelPaddingLR" >
        <div class="cfc_box d-flex justify-content-center">
          <button class="cfc_link" href="#" onclick="app.chosenClass = 1; app.formData.fication.value = 1">
            <img class="cfc_default" src="../img/icon/icon-01_compressed.png" />
            <img class="cfc_hover" src="../img/icon/icon_hover_01.png" />
          </button>
        </div>
        <div class="cfc_box d-flex justify-content-center">
          <button class="cfc_link" href="#" onclick="app.chosenClass = 2; app.formData.fication.value = 2">
            <img class="cfc_default" src="../img/icon/icon-02_compressed.png" />
            <img class="cfc_hover" src="../img/icon/icon_hover_02.png" />
          </button>
        </div>
        <div class="cfc_box d-flex justify-content-center">
          <button class="cfc_link" href="#" onclick="console.log('on');app.chosenClass = 3; app.formData.fication.value = 3;">
            <img class="cfc_default" src="../img/icon/icon-03_compressed.png" />
            <img class="cfc_hover" src="../img/icon/icon_hover_03.png" />
          </button>
        </div>
      </div>
      <div class="col-12 d-flex justify-content-around mb-4 cancelPaddingLR" >
        <div class="cfc_box d-flex justify-content-center">
          <button class="cfc_link" href="#" onclick="app.chosenClass = 4; app.formData.fication.value = 4">
            <img class="cfc_default" src="../img/icon/icon-04_compressed.png" />
            <img class="cfc_hover" src="../img/icon/icon_hover_04.png" />
          </button>
        </div>
        <div class="cfc_box d-flex justify-content-center">
          <button class="cfc_link" href="#" onclick="app.chosenClass = 5; app.formData.fication.value = 5">
            <img class="cfc_default" src="../img/icon/icon-05_compressed.png" />
            <img class="cfc_hover" src="../img/icon/icon_hover_05.png" />
          </button>
        </div>
        <div class="cfc_box d-flex justify-content-center">
          <button class="cfc_link" href="#" onclick="app.chosenClass = 6; app.formData.fication.value = 6">
            <img class="cfc_default" src="../img/icon/icon-06_compressed.png" />
            <img class="cfc_hover" src="../img/icon/icon_hover_06.png" />
          </button>
        </div>
      </div>
      <div class="col-12 d-flex justify-content-around mb-4 cancelPaddingLR" >
        <div class="cfc_box d-flex justify-content-center">
          <button class="cfc_link" href="#" onclick="app.chosenClass = 7; app.formData.fication.value = 7">
            <img class="cfc_default" src="../img/icon/icon-07_compressed.png" />
            <img class="cfc_hover" src="../img/icon/icon_hover_07.png" />
          </button>
        </div>
        <div class="cfc_box d-flex justify-content-center">
          <button class="cfc_link" href="#" onclick="app.chosenClass = 8; app.formData.fication.value = 8">
            <img class="cfc_default" src="../img/icon/icon-08_compressed.png" />
            <img class="cfc_hover" src="../img/icon/icon_hover_08.png" />
          </button>
        </div>
        <div class="cfc_box d-flex justify-content-center">
          <button class="cfc_link" href="#" onclick="app.chosenClass = 9; app.formData.fication.value = 9">
            <img class="cfc_default" src="../img/icon/icon-09_compressed.png" />
            <img class="cfc_hover" src="../img/icon/icon_hover_09.png" />
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-2 col-md-2"></div>
    <!-- 搜尋欄 -->
    <div class="container">
      <div class="row">
        <div class="col-12 text-center mt-3">
            <div class="input-group">
              <input id="keyWord" type="text" class="form-control" placeholder="輸入關鍵字,用空白隔開(ex:黑色 帽子)" aria-label="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button" id="keyWordGo">搜尋</button>
              </span>
            </div>
        </div>
      </div>
    </div>
  </div>
  <!-- toogle -->
  <div class="mt-2 row">
    <div class="text-center col-12" id="btn-toggle-board">
      <div id="btn-toggle-down">
        <i class="fa fa-arrow-down text-white" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>
