
<div id="doc" class="markdown-body container-fluid __reader_view_article_wrap_8017197559969327__" style="position: relative;background-color: #F05F40">

  <font color="white" style="text-align:left;">
    <blockquote align="left">
      <h2 id="拾獲遺失物如何處理">
        <a class="anchor hidden-xs" href="#拾獲遺失物如何處理" title="拾獲遺失物如何處理">
          <span class="octicon octicon-link"></span>
        </a>1.拾獲遺失物如何處理?</h2>
    </blockquote>
    <ul>
      <li>拾得人，得將遺失物就近送交本校各單位(行政單位或系所) ，處理單位得視遺失物之保管困難度或貴重程度，協助拾得人送交警察機關處理。</li>
      <li>本校各處理單位定期將收到之遺失物，鍵置於本校網頁「失物招領專區」欄中內，公告招領。公告單位應正確填寫聯絡相關資訊，以方便失主洽詢。</li>
    </ul>
    <blockquote align="left">
      <h2 id="遺失物招領時效">
        <a class="anchor hidden-xs" href="#遺失物招領時效" title="遺失物招領時效">
          <span class="octicon octicon-link"></span>
        </a>2.遺失物招領時效?</h2>
    </blockquote>
    <ul>
      <li>遺失物自通知或最後招領之日起逾6個月，仍無人認領者，得由當初拾得人之意願請其自行領回或經由本校各處理單位。</li>
      <li>拾得人於受前項通知或公告後3個月內未領取者，其物歸屬於保管之本校各處理單位。</li>
      <li>公告招領期間，遺失物所有人前來認領，本校各處理單位應檢核身份無誤後，將失物歸還。</li>
    </ul>
    <blockquote align="left">
      <h2 id="遺失物無人認領如何處理">
        <a class="anchor hidden-xs" href="#遺失物無人認領如何處理" title="遺失物無人認領如何處理">
          <span class="octicon octicon-link"></span>
        </a>3.遺失物無人認領如何處理?</h2>
    </blockquote>
    <ul>
      <li>遺失物若拾獲人同意放棄處分權或遺失物為轉交、無法確知拾獲人者，則由本校依下列原則代為處理:
        <ol>
          <li>拾金: 以專款用於本校學生校務基金急難救助及獎助學金運用。</li>
          <li>拾物: 考量該物之價值，得由學務處統一處理之遺失物公開義賣，每學年一次為原則，義賣所得之價金轉入前項相關應用。</li>
          <li>不具價值或不適合義賣之物品，則由本校各處理單位自行銷毀或資源回收。</li>
        </ol>
      </li>
    </ul>
    <blockquote align="left">
      <h2 id="在「遺失物品瀏覽」網頁發現疑似己身丟失物品如何處理？">
        <a class="anchor hidden-xs" href="#在「遺失物品瀏覽」網頁發現疑似己身丟失物品如何處理？" title="在「遺失物品瀏覽」網頁發現疑似己身丟失物品如何處理？">
          <span class="octicon octicon-link"></span>
        </a>4.在「遺失物品瀏覽」網頁發現疑似己身丟失物品如何處理？</h2>
    </blockquote>
    <ul>
      <li>至遺失物保管單位領取 → 領取人需攜帶學生證、身份證、駕照或健保卡任一證件，以便確認身份後領回。</li>
    </ul>
    <blockquote align="left">
      <h2 id="遺失物品怎麼辦？">
        <a class="anchor hidden-xs" href="#遺失物品怎麼辦？" title="遺失物品怎麼辦？">
          <span class="octicon octicon-link"></span>
        </a>5.遺失物品怎麼辦？</h2>
    </blockquote>
    <ul>
      <li>第一步：請至本校網頁「失物招領專區」瀏覽點閱「遺失物品瀏覽」察看有無相似物品。</li>
      <li>第二步：請至本校網頁「失物招領專區」填寫「遺失物品登記」，以便協尋。</li>
    </ul>
    <blockquote align="left">
      <h2 id="招領及登記系統">
        <a class="anchor hidden-xs" href="#招領及登記系統" title="招領及登記系統">
          <span class="octicon octicon-link"></span>
        </a>6.招領及登記系統</h2>
    </blockquote>
  <ul>
    <li>
      點擊下方圖示進入系統。
        <br>
      </li>
    </ul>
  </font>
  <!-- <div class="resize-sensor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; z-index: -1; visibility: hidden;">
    <div class="resize-sensor-expand" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;">
      <div style="position: absolute; left: 0px; top: 0px; transition: 0s; width: 100000px; height: 100000px;"></div>
    </div>
    <div class="resize-sensor-shrink" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;">
      <div style="position: absolute; left: 0; top: 0; transition: 0s; width: 200%; height: 200%"></div>
    </div>
  </div> -->
</div>