<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#" @click.prevent="showAll">全部</a>
                </li>
                <li v-if="chosenClass!=0" class="breadcrumb-item active" aria-current="page">{{ classNumToText(chosenClass) }}</li>
                <li class="ml-4"><span class="badge badge-info">共有 {{ searchKeyWord.length }} 筆資料</span></li>
            </ol>
        </nav>
    </div>
    <div class="col-12 mb-3">
        <span class="badge">
            <img src="../img/sort_logo-01.png"style="max-height:40px;"/>
            <!-- 時間排序 -->
            <select v-model.number="timeSort" class="ml-2" style="height:40px;">
                <option value=1>新 → 舊</option>
                <option value=0>舊 → 新</option>
            </select>
        </span>
    </div>
</div>
<div class="row">
    <template v-if="searchKeyWord.length!=0">
        <div class="col-md-6 mb-4"v-for="list in finalData">
            <div class="card">
                <div class="card-img-top" v-bind:style="{ 'background-image': 'url(' + list.image + ')' }">
                </div>
                <div class="card-body px-4">
                    <div class="d-flex card-title">
                        <h4 class="mr-auto text-truncate">{{ list.name }}</h4>
                    </div>
                    <div class="card-text">
                        <div class="mb-2">
                            <span class="mt-2 p-2 float-right badge badge-success mb-2"><i class="fa fa-tag"></i>&nbsp;&nbsp;{{ classNumToText(list.classification_id) }}</span>
                            <span class="badge list_title">時間:</span><br/>
                            <span class="badge ">{{list.time_interval_LB.slice(5, 10).replace(/-/g,"/") }}</span><span class="badge badge-light">{{ timeFormat(list.time_interval_LB.slice(11, 13)) }}</span>
                            ~
                            <span class="badge">{{list.time_interval_UB.slice(5, 10).replace(/-/g,"/")}}</span><span class="badge badge-light">{{timeFormat(list.time_interval_UB.slice(11, 13))}}</span>
                            <div class="card-text text-truncate"><span class="badge list_title">地點：</span> <span class="badge">{{ textIsEmpty(list.location) }}</span></div>
                            <div class="card-text text-truncate d-block d-md-block">
                                <a data-toggle="collapse" :data-target="'#a'+list.ID" >
                                    <button style="cursor: pointer" class=" btn btn-light btn-md mr-1" data-toggle="collapse" :data-target="'#'+list.ID" aria-expanded="false">
                                        <span class="badge list_title">描述</span>
                                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    </button>
                                </a>
                                <div class="collapse text-truncate show" :id="'a'+list.ID">
                                    <span class="badge" :id="'a'+list.ID">{{ textIsEmpty(list.description) }}</span>
                                </div>
                            </div>
                            <div class="collapse" :id="list.ID">
                                <!-- <div class="card card-body mb-3 bg-light"> -->
                                    <span class="wraptext badge badge-light">{{ textIsEmpty(list.description) }}</span>
                                    <!-- {{ textIsEmpty(list.description) }} -->
                                <!-- </div> -->
                            </div>
                            <% if(user) { %>
                            <div class="text-right">
                                <a href="#" class="btn btn-secondary" @click.prevent="autoFillIn(list)" data-toggle="modal" data-target="#editForm">編輯</a>
                                <a href="#" class="btn btn-danger" @click.prevent="delDetail(list.ID)">刪除</a>
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <template v-else-if="searchKeyWord.length==0">
        <div class="col-12">
            <div class="alert alert-info">
                目前還沒有遺失物喔
            </div>
        </div>
    </template>
    <div class="col-12 text-center mb-3 mobile" v-if="searchKeyWord.length != 0">
        <a href="#" class="btn btn-light mobile-view mobile-next" @click="dataIndex=dataIndex+1" v-if="dataIndex==1 && (!checkEnd())">下一頁</a>
        <div v-else-if="dataIndex>1">
            <a href="#" class="btn btn-light mobile-view mobile-previous" @click="dataIndex=dataIndex-1">上一頁</a>
            <span class="text-white bg-info mobile-view mobile-current" style="
                display: inline-block;
                font-weight: 400;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                user-select: none;
                border: 1px solid transparent;
                padding: .375rem .75rem;
                font-size: 1rem;
                line-height: 1.5;
                ">第 {{ dataIndex }} 頁</span>
            <a href="#" class="btn btn-light mobile-view mobile-next" @click="dataIndex=dataIndex+1" v-if="(!checkEnd())">下一頁</a>
        </div>
    </div>
</div>