<!-- 回報表單 -->
<div class="modal fade" id="reportForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">回報表單</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div v-if="feedBack.submited" class="alert alert-warning" role="alert">
                    <strong>感謝您的回報，世界會更好!</strong>
                </div>
                <div v-if="feedBack.isError" class="alert alert-warning" role="alert">
                    <strong>非常抱歉，伺服器發生錯誤，請稍後再試一次!</strong>
                </div>
                <form class="mb-3">
                  <div class="form-group">
                      <label for="fication">物品分類</label>
                      <select :class="{'is-invalid': formData.fication.noValid}" class="form-control" id="fication" v-model.number="formData.fication.value">
                          <option disabled value="">請選擇</option>
                          <option value="1">衣物</option>
                          <option value="2">現金</option>
                          <option value="3">書籍</option>
                          <option value="4">3C</option>
                          <option value="5">文具</option>
                          <option value="6">卡片</option>
                          <option value="7">雨具</option>
                          <option value="8">生活</option>
                          <option value="9">其他</option>
                      </select>
                      <div class="invalid-feedback">
                          Please provide a valid fication.
                      </div>
                  </div>
                  <div class="form-group">
                        <label for="name">請輸入物品名稱</label>
                        <input type="text" :class="{'is-invalid': formData.name.noValid}" class="form-control" id="name" v-model.trim="formData.name.value" placeholder="物品名稱...">
                        <div class="invalid-feedback">
                            Please provide a valid name.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="location">請輸入拾獲地點</label>
                        <input type="text" :class="{'is-invalid': formData.location.noValid}" class="form-control" id="location" v-model.trim="formData.location.value" placeholder="拾獲地點...">
                        <div class="invalid-feedback">
                            Please provide a valid location.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="day">拾獲日期</label>
                        <input type="date" :class="{'is-invalid': formData.date.noValid}" class="form-control" id="day" v-model="formData.date.value" placeholder="拾獲日期...">
                        <div class="invalid-feedback">
                            Please provide a valid date.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="time">拾獲時間(小時)</label>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="number" :class="{'is-invalid': formData.timeLB.noValid}" class="form-control" id="time" v-model.number="formData.timeLB.value" placeholder="ex:下午2點 => 14">
                                <div class="invalid-feedback">
                                    Please provide a valid time.
                                </div>
                            </div>
                            <div class="col-md-6 mt-3 mt-md-0">
                                <input type="number" :class="{'is-invalid': formData.timeUB.noValid}" class="form-control" v-model.number="formData.timeUB.value" placeholder="ex:下午4點 => 16">
                                <div class="invalid-feedback">
                                    Please provide a valid time.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description">簡單描述物品(外觀、顏色、特徵)</label>
                        <input type="text" :class="{'is-invalid': formData.description.noValid}" class="form-control" id="description" v-model.trim="formData.description.value" placeholder="物品描述...">
                        <div class="invalid-feedback">
                            Please provide a valid description.
                        </div>
                    </div>
                    <!-- <div v-for="(value, key) in formData">
                        {{ key }}: {{ value.value }}
                    </div> -->
                    <button @click.prevent="createFound" type="submit" class="btn btn-primary">送出</button>
                </form>
            </div>
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
        </div>
    </div>
</div>
