<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="國立暨南國際大學遺失物系統">
    <title>逾期物品</title>
    <% include ../partials/bootstrap_css %>
</head>

<body>
    <% include ../partials/navBar %>
    <% include ../partials/add %>
    <h1>聯絡</h1>
    <% include ../partials/bootstrap_js %>
</body>

</html>