<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="國立暨南國際大學遺失物系統">
    <title>拾獲物品</title>
    <% include ../partials/bootstrap_css %>
</head>

<body>
    <% include ../partials/navBar %>
    <!-- 下面的inclue若出錯可放回container下方，
        放上來，是因為，loading順序 -->
    <% include ../partials/bootstrap_js %>
    <% include ../partials/vue_js %>
    <% include ../partials/jqueryUi %>
    <% include ../partials/categories %>
    <% include ../partials/add %>
    <div class="container" style="margin-top: 90px">
        <h1>協尋清單：（或許有人在著急地找TA……）</h1>
        <div id="found">
            <div class="col-12">
                <nav aria-label="breadcrumb" role="navigation">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#" @click.prevent="showAll">全部</a>
                        </li>
                        <li v-if="chosenClass!=0" class="breadcrumb-item active" aria-current="page">{{ classNumToText(chosenClass) }}</li>
                    </ol>
                </nav>
            </div>
            <% include ../partials/reportForm %>
            <div class="row">
                <template v-if="searchKeyWord.length!=0 && !detail.isShowDetail">
                    <div class="col-12" v-for="list in searchKeyWord">
                        <div class="row border rounded mb-2 p-2">
                            <div class="col-md-3 mb-2 mb-md-0">
                                <!-- <img class="border rounded img-fluid" src="http://media.viralcham.com/wp-content/uploads/2017/08/10124047/ecoforestwbbrevjs5.png" alt="Card image cap"> -->
                                <img class="border rounded img-fluid" :src="list.image" alt="圖片載入錯誤">
                            </div>
                            <div class="col-md-9">
                                <h4 class="card-title">{{ list.name }}</h4>
                                <span class="badge badge-success mb-2">{{ classNumToText(list.classification_id) }}</span>
                                <span class="badge badge-secondary mb-2">{{ stateNumToText(list.state) }}</span>
                                <p>{{ new Date(list.time_interval_LB).toLocaleString().split(":")[0] }}時 ~ {{ new Date(list.time_interval_UB).toLocaleString().split(":")[0] }}時</p>
                                <p class="card-text d-none d-md-block">描述: {{ textIsEmpty(list.description) }}</p>
                                <p style="cursor: pointer" class="card-text text-truncate d-block d-md-none" data-toggle="collapse" :data-target="'#'+list.ID" aria-expanded="false">描述: {{ textIsEmpty(list.description) }}</p>
                                <div class="collapse" :id="list.ID">
                                    <div class="card card-body mb-3">
                                        {{ textIsEmpty(list.description) }}
                                    </div>
                                </div>
                                <p class="card-text text-truncate">地點: {{ textIsEmpty(list.location) }}</p>
                                <div class="text-right">
                                    <a href="#" class="btn btn-primary" @click.prevent="showDetail(list)">看更多...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
                <template v-else-if="searchKeyWord.length==0 && !detail.isShowDetail">
                    <div class="col-12">
                        <div class="alert alert-info">
                            目前還沒有遺失物喔
                        </div>
                    </div>
                </template>
                <template v-else-if="detail.isShowDetail">
                    <div class="col-12">
                        <div class="row border p-3" style="position: relative">
                            <div class="col-md-5">
                                <img class="img-fluid" src="http://media.viralcham.com/wp-content/uploads/2017/08/10124047/ecoforestwbbrevjs5.png" alt="Card image cap">
                            </div>
                            <div class="col-md-7">
                                <h4>{{ detail.list.name }}</h4>
                                <p>{{ detail.list.time_interval_LB.split("T")[0] }} ~ {{ detail.list.time_interval_UB.split("T")[0] }}</p>
                                <p>拾獲地點: {{ detail.list.location }}</p>
                                <p>{{ textIsEmpty(detail.list.description) }}</p>
                                <p>狀態: {{ detail.list.state }}</p>
                            </div>
                            <button @click="showAll" class="btn btn-info" style="position: absolute; top: 5px; right: 5px; cursor: pointer">
                                <i class="fa fa-home fa-lg text-white" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </div>

    <script>
        var app = new Vue({
            el: '#found',
            data: {
                lists: '',
                // 九封格分類
                chosenClass: 0,
                keyWord: '',
                // 遺失物品細節
                detail: {
                    isShowDetail: false,
                    list: ''
                },
                formData: {
                    name: {
                        noValid: false,
                        value: ''
                    },
                    location: {
                        noValid: false,
                        value: ''
                    },
                    description: {
                        noValid: false,
                        value: ''
                    },
                    fication: {
                        noValid: false,
                        value: ''
                    },
                    date: {
                        noValid: false,
                        value: ''
                    },
                    timeLB: {
                        noValid: false,
                        value: ''
                    },
                    timeUB: {
                        noValid: false,
                        value: ''
                    },
                    image: {
                        noValid: false,
                        value: '',
                        uploading: false,
                        // 包好的 form data
                        imgData: {},
                        deleteHash: ''
                    }
                },
                // 回報表單回饋訊息
                feedBack: {
                    submited: 0,
                    isError: 0
                }
            },
            // 網頁載入完成
            created: function () {
                var self = this;
                axios.get('/api/lost/')
                    .then(function (response) {
                        console.log(response.data);
                        self.lists = response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                        // 待加入跳轉到404頁面
                    });
            },
            methods: {
                textIsEmpty (text) {
                    return text == null ? "空空如也" : text;
                },
                formIsEmpty (obj) {
                    // 檢查傳入的物件是否有value沒填
                    // 若為空則將將noValid改為是 反之則否
                    var check = 1;
                    for (let key in obj) {
                        if(key == "date"){
                            // YYYY-MM-DD
                            var reg = /(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))/;
                            if (obj[key].value.match(reg) == null) {
                                check = 0;
                                obj[key].noValid = true;
                            } else {
                                obj[key].noValid = false;
                            }
                        }else if(key != "timeLB" && key != "timeUB"){
                            if (obj[key].value == '') {
                                check = 0;
                                obj[key].noValid = true;
                            }else {
                                obj[key].noValid = false;
                            }
                        }else {
                            if (obj[key].value == '' || obj[key].value < 0 || obj[key].value > 24) {
                                check = 0;
                                obj[key].noValid = true;
                            } else {
                                obj[key].noValid = false;
                            }
                        }
                    }
                    return check;
                },
                createFound () {
                    var self = this;
                    if(this.formIsEmpty(this.formData)){
                        console.log("有東西");
                        self.imageUpload(self.formData.image.imgData).then((res) => {
                            axios.post('/api/found', {
                                "name": self.formData.name.value,
                                "classification_id": self.formData.fication.value,
                                "location": self.formData.location.value,
                                "time_interval_LB": self.formData.date.value + "T" + self.formData.timeLB.value + ":00:00.000Z",
                                "time_interval_UB": self.formData.date.value + "T" + self.formData.timeUB.value + ":00:00.000Z",
                                "description": self.formData.description.value,
                                "image": self.formData.image.value,
                                "deleteHash": self.formData.image.deleteHash
                            })
                            .then(function (response) {
                                // console.log(response);
                                self.feedBack.submited = 1;
                                setTimeout(function () {
                                    location.reload();
                                }, 2000);
                            })
                            .catch(function (error) {
                                console.log(error);
                                self.feedBack.isError = 1;
                                setTimeout(function () {
                                    location.reload();
                                }, 2000);
                            });
                        });
                    }else {
                        console.log("有東西沒填");
                    }
                },
                showAll () {
                    this.chosenClass = 0;
                    this.detail.isShowDetail = false;
                    this.formData.fication.value = '';
                },
                showDetail (list) {
                    console.log(list);
                    this.detail.isShowDetail = true;
                    this.detail.list = list;
                },
                classNumToText (classId) {
                    let text = ["衣物", "現金", "書籍", "3C", "文具", "卡片", "雨具", "生活", "其他"];
                    return text[classId - 1];
                },
                stateNumToText (stateId) {
                    let text = ["待送行政", "找尋失主", "失主領回", "拾得人領回", "拾得人領回", "公開招領", "已認領", "行政處置"];
                    return text[stateId];
                },
                imageDataSave (e) {
                    // 將上傳前的圖片資訊存起來,等待表單提交時上傳
                    let imageFile = e.target.files[0];
                    if (imageFile.type.indexOf('image/') == -1) {
                        alert('It must be a image');
                        return;
                    }else{
                        // 把圖片編碼存起來
                        this.formData.image.imgData = imageFile;
                        // 確定是圖片後先把 value 改掉, 讓送出驗證時不為空
                        this.formData.image.value = "ok";
                    }
                },
                imageUpload (imageFile) {
                    let formData = new FormData();
                    formData.append('image', imageFile);
                    // 正要上傳,狀態改為是
                    this.formData.image.uploading = true;
                    return fetch('https://api.imgur.com/3/image', {
                        method: 'post',
                        body: formData,
                        headers: new Headers({
                            'Authorization': 'Client-ID 3b927010e0363a1'
                        })
                    }).then((resp) => {
                        return resp.json();
                    }).then((response) => {
                        if (response.success) {
                            let imageURL = response.data.link;
                            let imageDEL = response.data.deletehash;
                            // console.log(imageURL, imageDEL);
                            this.formData.image.value = imageURL;
                            this.formData.image.deleteHash = imageDEL;
                            // 上傳完成,狀態改為否
                            this.formData.image.uploading = false;
                        } else {
                            console.log(response);
                            this.feedBack.isError = 1;
                            this.formData.image.uploading = false;
                        }
                    });
                }
            },
            computed: {
                chosenLists () {
                    // 有分總類
                    if(this.chosenClass != 0){
                        return this.lists.filter((val) => {
                            return val.classification_id == this.chosenClass;
                        });
                    }
                },
                searchKeyWord () {
                    if (this.chosenClass != 0 && this.keyWord.length == 0) {
                        // 有劃分總類但沒關鍵字
                        return this.chosenLists;
                    } else if (this.chosenClass == 0 && this.keyWord.length == 0) {
                        // 沒劃分總類也沒關鍵字
                        return this.lists;
                    }
                    else if (this.chosenClass == 0 && this.keyWord.length != 0) {
                        // 沒劃分總類但有關鍵字
                        let tmp = this.keyWord.split(" ");
                        let str = '';
                        return this.lists.filter((val) => {
                            str = val.name + val.location + val.description;
                            for (let value of tmp) {
                                return str.match(value) != null;
                            }
                        });
                    }else if (this.chosenClass != 0 && this.keyWord.length != 0){
                        // 有劃分總類也有關鍵字
                        let tmp = this.keyWord.split(" ");
                        let str = '';
                        return this.chosenLists.filter((val) => {
                            str = val.name + val.location + val.description;
                            for (let value of tmp) {
                                return str.match(value) != null;
                            }
                        });
                    }
                }
            }
        })
    </script>
</body>

</html>