<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="國立暨南國際大學遺失物系統">
    <title>拾獲物品</title>
    <% include ../partials/bootstrap_css %>
</head>

<body>
    <% include ../partials/navBar %>
    <% include ../partials/add %>
    <!-- 下面的inclue若出錯可放回container下方，
    放上來，是因為，loading順序 -->
    <% include ../partials/bootstrap_js %>
    <% include ../partials/categories %>
    <% include ../partials/vue_js %>
    <div class="mt-5 container">
        <h1>協尋清單：（你拾到的東西有在這嗎？）</h1>
        <div id="found">
            <div class="row" v-if="lists.length!=0">
                <div class="col-12" v-for="list in lists">
                    <div class="row border rounded mb-2 p-2">
                        <div class="col-md-3 mb-2 mb-md-0">
                            <img class="border rounded img-fluid" src="http://media.viralcham.com/wp-content/uploads/2017/08/10124047/ecoforestwbbrevjs5.png" alt="Card image cap">
                        </div>
                        <div class="col-md-9">
                            <h4 class="card-title">{{ list.name }}</h4>
                            <p class="card-text text-truncate">{{ textIsEmpty(list.description) }}</p>
                            <div class="text-right">
                                <a href="#" class="btn btn-primary">看更多</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-else="lists.length==0">
                <div class="alert alert-info">
                    目前還沒有遺失物喔
                </div>
            </div>
        </div>
    </div>

    <script>
        var app = new Vue({
            el: '#found',
            data: {
                lists: '',
                name: '',
                location: '',
                description: '',
                fication: '',
            },
            // 網頁載入完成
            created: function () {
                var self = this;
                axios.get('/api/lost/')
                    .then(function (response) {
                        console.log(response.data);
                        self.lists = response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                        // 待加入跳轉到404頁面
                    });
            },
            methods: {
                textIsEmpty (text) {
                    return text == null ? "空空如也" : text;
                },
                objIsEmpty (obj) {
                    let tmp = 1;
                    for (let key in obj) {
                        if (obj[key] == '') {
                            tmp = 0;
                        }
                    }
                    return tmp;
                },
                createFound () {
                    if(this.objIsEmpty(this.showFormData)){
                        console.log("有東西");
                        axios.post('/api/lost', {
                            "name": this.name,
                            "classification_id": this.fication,
                            "location": this.location,
                            "time_interval_LB": "2017-03-31T10:00:00.000Z",
                            "time_interval_UB": "2017-03-31T16:00:00.000Z",
                            "description": this.description
                        })
                        .then(function (response) {
                            console.log(response);
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                    }else {
                        console.log("有東西沒填");
                    }
                }
            },
            computed: {
                showFormData () {
                    return {
                        name: this.name,
                        location: this.location,
                        description: this.description,
                        fication: this.fication
                    }
                }
            }
        })
    </script>
</body>

</html>