<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="國立暨南國際大學遺失物系統">
    <title>拾獲物品</title>
    <% include ../partials/bootstrap_css %>
</head>

<body>
    <% include ../partials/navBar %>
    <!-- 下面的inclue若出錯可放回container下方，
        放上來，是因為，loading順序 -->
    <% include ../partials/bootstrap_js %>
    <% include ../partials/vue_js %>
    <% include ../partials/categories %>
    <% include ../partials/add %>
    <div class="mt-5 container">
        <h1>協尋清單：（你拾到的東西有在這嗎？）</h1>
        <div id="found">
            <% include ../partials/reportForm %>
            <div class="row" v-if="lists.length!=0">
                <div class="col-12" v-for="list in chosenLists">
                    <div class="row border rounded mb-2 p-2">
                        <div class="col-md-3 mb-2 mb-md-0">
                            <img class="border rounded img-fluid" src="http://media.viralcham.com/wp-content/uploads/2017/08/10124047/ecoforestwbbrevjs5.png" alt="Card image cap">
                        </div>
                        <div class="col-md-9">
                            <h4 class="card-title">{{ list.name }}</h4>
                            <p>{{ list.time_interval_LB.split("T")[0] }} ~ {{ list.time_interval_UB.split("T")[0] }}</p>
                            <p class="card-text text-truncate">{{ textIsEmpty(list.description) }}</p>
                            <div class="text-right">
                                <a href="#" class="btn btn-primary">看更多</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-else="lists.length==0">
                <div class="alert alert-info">
                    目前還沒有遺失物喔
                </div>
            </div>
        </div>
    </div>

    <script>
        var app = new Vue({
            el: '#found',
            data: {
                lists: '',
                chosenClass:　0,
                formData: {
                    name: {
                        noValid: false,
                        value: ''
                    },
                    location: {
                        noValid: false,
                        value: ''
                    },
                    description: {
                        noValid: false,
                        value: ''
                    },
                    fication: {
                        noValid: false,
                        value: ''
                    },
                },
                feedBack: {
                    submited: 0,
                    isError: 0
                }
            },
            // 網頁載入完成
            created: function () {
                var self = this;
                axios.get('/api/lost/')
                    .then(function (response) {
                        console.log(response.data);
                        self.lists = response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                        // 待加入跳轉到404頁面
                    });
            },
            methods: {
                textIsEmpty (text) {
                    return text == null ? "空空如也" : text;
                },
                formIsEmpty (obj) {
                    // 檢查傳入的物件是否有value沒填
                    // 若為空則將將noValid改為是 反之則否
                    var check = 1;
                    for (let key in obj) {
                        if (obj[key].value == '') {
                            check = 0;
                            obj[key].noValid = true;
                        }else {
                            obj[key].noValid = false;
                        }
                    }
                    return check;
                },
                createFound () {
                    if(this.formIsEmpty(this.formData)){
                        console.log("有東西");
                        var self = this;
                        axios.post('/api/found', {
                            "name": this.formData.name.value,
                            "classification_id": this.formData.fication.value,
                            "location": this.formData.location.value,
                            "time_interval_LB": "2017-03-31T10:00:00.000Z",
                            "time_interval_UB": "2017-03-31T16:00:00.000Z",
                            "description": this.formData.description.value
                        })
                        .then(function (response) {
                            console.log(response);
                            self.feedBack.submited = 1;
                            setTimeout(function () {
                                location.reload();
                            }, 2000);
                        })
                        .catch(function (error) {
                            console.log(error);
                            self.feedBack.isError = 1;
                            setTimeout(function () {
                                location.reload();
                            }, 2000);
                        });
                    }else {
                        console.log("有東西沒填");
                    }
                }
            },
            computed: {
                chosenLists () {
                    // 過濾並回傳指定種類的清單內容
                    // 若為0代表不須過慮,回傳所有
                    if(this.chosenClass != 0){
                        return this.lists.filter((val) => {
                            return val.classification_id == this.chosenClass;
                        });
                    }else{
                        return this.lists;
                    }
                }
            }
        })
    </script>
</body>

</html>