<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="國立暨南國際大學遺失物系統">
    <title>拾獲物品</title>
    <% include ../partials/bootstrap_css %>
</head>

<body>
    <% include ../partials/navBar %>
    <% include ../partials/add %>
    <!-- 下面的inclue若出錯可放回container下方，
    放上來，是因為，loading順序 -->
    <% include ../partials/bootstrap_js %>
    <% include ../partials/categories %>
    <% include ../partials/vue_js %>
    <div class="mt-5 container">
        <h1>協尋清單：（你拾到的東西有在這嗎？）</h1>
        <div id="lost">
            <div class="row">
                <div class="col-12" v-for="list in lists">
                    <div class="row border rounded mb-2 p-2">
                        <div class="col-md-3 mb-2 mb-md-0">
                            <img class="border rounded img-fluid" src="http://media.viralcham.com/wp-content/uploads/2017/08/10124047/ecoforestwbbrevjs5.png" alt="Card image cap">
                        </div>
                        <div class="col-md-9">
                            <h4 class="card-title">{{ list.name }}</h4>
                            <p class="card-text text-truncate">{{ isEmpty(list.description) }}</p>
                            <div class="text-right">
                                <a href="#" class="btn btn-primary">看更多</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var app = new Vue({
            el: '#lost',
            data: {
                lists: ''
            },
            // 網頁載入完成
            created: function () {
                var self = this;
                axios.get('/api/found/')
                    .then(function (response) {
                        console.log(response.data);
                        self.lists = response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                        // 待加入跳轉到404頁面
                    });
            },
            methods: {
                isEmpty (text) {
                    return text == null ? "空空如也" : text;
                }
            },
            computed: {
            }
        })
    </script>
</body>

</html>