<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="國立暨南國際大學遺失物系統">
    <title>拾獲物品</title>
    <% include ../partials/bootstrap_css %>
</head>
<body>
    <% include ../partials/bootstrap_js %>
    <% include ../partials/navBar %>
    <% include ../partials/add %>
    <% include ../partials/categories %>
    <h1>撿到東西</h1>
</body>
</html>