<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="國立暨南國際大學遺失物系統">
  <title>遺失在暨大</title>
  <% include ../partials/bootstrap_css %>
  <!-- Custom styles for this template -->
  <link href="css/creative.css" rel="stylesheet">
</head>

<body id="page-top">
  <% include ../partials/navBar_landing %>
  <header class="masthead text-center text-white d-flex">
    <div class="container my-auto ">
      <div class="row p-5" style="background-color:rgba(0,0,0,0.6) ; border-radius:100px">
        <div class="col-lg-10 mx-auto">
          <h1 class="text-uppercase">
            <strong>遺失物協尋</strong>
          </h1>
          <hr>
        </div>
        <div class="col-lg-8 mx-auto">
          <h5 class="text-faded mb-5">歡迎使用我們的系統，這次是我們首次針對遺失物開發的系統！</h5>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">看看說明吧！</a>
        </div>
      </div>
    </div>
  </header>
  
  <section class="bg-primary" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading text-white">使用說明</h2>
          <hr class="light my-4">
          <div style="overflow:auto;height:100%;">

            <% include ../partials/document %>
            <!-- <iframe src="https://hackmd.io/s/SygUzzYGM" frameborder="0" scrolling="yes" style="overflow:hidden;display:block; position: absolute; margin-top: -20px;height:450px; width: 100%;box-sizing:border-box"></iframe> -->
            <!-- <img src="https://i.imgur.com/6KhXdAl.png"/> -->
            <br/>
          </div>
          <!-- <hr class="light my-4"> -->
          <!-- 待修正 -->
        </div>
        <div class="col-lg-8 mx-auto text-center mt-5">
            <a class="btn btn-light btn-xl js-scroll-trigger"href="#services">開始吧 !</a>
        </div>
      </div>
      </div>
    </div>
  </section>

  <section id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">兩大服務</h2>
          <hr class="my-4">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <a href="wishlist_form">
              <i class="fa fa-4x fa-search text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">我的東西不見了</h3>
            </a>
            <p>
              <a class="btn btn-info" href="lost" role="button">瀏覽招領清單&raquo;</a>
            </p>
          </div>
        </div>
        <div class="col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <a href="lost_form">
              <i class="fa fa-4x fa-plus text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">我拾到東西了</h3>
            </a>
            <p>
              <a class="btn btn-info" href="found" role="button">瀏覽協尋清單&raquo;</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-light" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading">意見回饋</h2>
          <hr class="my-4">
          <p class="mb-5">歡迎大家提出意見!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 ml-auto text-center">
            <a href="tel:0492910960"><i class="fa fa-phone fa-3x mb-3 sr-contact"></i></a>
        </div>
        <div class="col-lg-4 mr-auto text-center">
            <a href="mailto:guidance@ncnu.edu.tw"><i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i></a>
        </div>
      </div>
    </div>
  </section>

  <div id="fb-root"></div>

  <% include ../partials/bootstrap_js %>

    <!-- Custom scripts for this template -->
    <script src="js/creative.js"></script>
    <script>
      window.fbAsyncInit = function () {
        FB.init({
          appId: '146472255992707',
          cookie: true,
          xfbml: true,
          version: 'v2.11'
        });
        FB.AppEvents.logPageView();
      };

      (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
          return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/zh_TW/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
</body>

</html>