<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <img src="img/lost-items.png" width="32px" alt="logo">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#services">Services</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
          </li> -->
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
        </li>
        <li class="nav-item">
          <!-- Button trigger modal -->
          <a href="#">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Login
            </button>
          </a>
        </li>
      </ul>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Choose method</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <a href="#" class="btn btn-lg btn-block onl_btn-facebook d-flex justify-content-start align-items-center " title="Facebook">
                <i class="fa fa-facebook fa-2x mr-2"></i>
                <span>Login with Facebook</span>
              </a>
              <a href="#" class="btn btn-lg btn-block onl_btn-google d-flex justify-content-start align-items-center " title="Facebook">
                <i class="fa fa-google fa-2x mr-2"></i>
                <span>Login with Google</span>
              </a>
              <a href="#" class="btn btn-lg btn-block onl_btn-github d-flex justify-content-start align-items-center " title="Facebook">
                <i class="fa fa-github fa-2x mr-2"></i>
                <span>Login with Github</span>
              </a>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
          </div>
        </div>
      </div>

      <!-- 登入按鈕 -->
      <div class="fb-login-button" data-max-rows="1" data-size="medium" data-button-type="login_with" data-show-faces="false"
        data-auto-logout-link="true" data-use-continue-as="true"></div>

    </div>
  </div>
</nav>